doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0, user-scalable=no")
    link(href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet")
    script(src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js")
    script(src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js")
    include css
    tittile=tittle
  body
    h1.text-center #{tittle}
    strong.pull-right hello world
    em how are you
    h1 how are you
    h1.text-muted how are you
    h1.text-primary how are you
    h1.text-info how are you
    h1.text-warning how are you
    h1.text-success how are you
    h1.text-danger how are you]
    .container
      .row
        .col-md-6
          ul
          -var arr1=["aplle","banana","oranges","pear"]
          each item in arr1
            li=item
            table.table.table-bordered.table-hover.table-striped
              caption 表格的使用
              thead
                tr
                  th name
                  th age
                  th color
              tbody
                tr.active
                  td lucy
                  td 25
                  td blue
                tr.info
                  td lucy
                  td 25
                  td blue
                tr.success
                  td lucy
                  td 25
                  td blue
                tr.danger
                  td 25
                  td lucy
                  td blue
    p.
      name<br>
      age<br>
      color<br>
    - var arr=['apple','pear','banana','orange']
    ol.list-unstyled
    each item in arr
      li=item
    ul.list-inline
    -each i in arr
      li #{i}
    pre.

      function(name,age){
      //sss
      console.log(name,age)
      }
        var app=requier(express)





    p.
      dsadasfd
       fasfasfas
      fasfasfasf
    dl.dl-horizontal
      dt rice
        dd sdsassfffffff
      dt sdasf
        dd dssdsff
    ul.list-unstyled
      li  11
      li  22
      li  33
    ul.list-inline
      each item in arr
        li=item


    p.
      妖君擎苍向神
      族挑起战争，神族付出惨
      痛代价封印了擎苍，同年天孙夜
      华出世。七万年后擎苍破出封印
    pre.pre-scrollable 床前明月光是水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水<br>疑是地上霜是是水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水水<BR>举头望明月<br>低头思故乡



    blockquote.blockquote-reverse
      p 妖君擎苍向神族挑起战争，神族付出惨痛代价封印了擎苍，同年天孙夜华出世。七万年后擎苍破出封印，青丘狐帝幺女白浅再次将擎苍封印，因此被封法力、记忆和容貌，落入凡尘与夜华相识、相恋，后被带入天宫。天宫中，爱慕夜华的素锦屡次陷害白浅，并让白浅误会夜华冷酷无情，继而又害白浅被挖双眼。白浅伤心欲绝，产子后，纵身跃下诛仙台。因诛仙台戾气破解封印，她恢复记忆，为忘记夜华，饮下忘情药。百年后二人在东海重逢。夜华认出白浅，相随相伴，再续前缘，更唤醒白浅记忆。面对往日仇怨，白浅问素锦讨回双眼，怎料又中了素锦的计，再不肯原谅夜华。此时擎苍再次醒转，夜华来不及解释，亲自斩杀擎苍，付出生命封了东皇钟，面对魂飞魄散的夜华，白浅悔恨自责。幸而三年后，夜华苏醒，二人再续前缘。
    blockquote
      small.pull-right 妖君擎苍向神族挑起战争，神族付出惨痛代价封印了擎苍，同年天孙夜华出世。七万年后擎苍破出封印，青丘狐帝幺女白浅再次将擎苍封印，因此被封法力、记忆和容貌，落入凡尘与夜华相识、相恋，后被带入天宫。天宫中，爱慕夜华的素锦屡次陷害白浅，并让白浅误会夜华冷酷无情，继而又害白浅被挖双眼。白浅伤心欲绝，产子后，纵身跃下诛仙台。因诛仙台戾气破解封印，她恢复记忆，为忘记夜华，饮下忘情药。百年后二人在东海重逢。夜华认出白浅，相随相伴，再续前缘，更唤醒白浅记忆。面对往日仇怨，白浅问素锦讨回双眼，怎料又中了素锦的计，再不肯原谅夜华。此时擎苍再次醒转，夜华来不及解释，亲自斩杀擎苍，付出生命封了东皇钟，面对魂飞魄散的夜华，白浅悔恨自责。幸而三年后，夜华苏醒，二人再续前缘。收起<<
        cite how are you
    address
     strong address:
     a(href='mailto#') mailto@http://www.imooc.com
     a xiangyang.hubei province.China
    small how are you

    p.text-right how are you?<br>
      input.text-right.btn-danger(type="button" value='click')
    .container
      .row
        .col-md-3
          p.text-left 西畠清顺的匠心，全在花草树木上。为了看一株特别的花，他可以打个飞的横穿整个印度洋。为了空运一棵古树，他花费十多万美金也不心疼。他每天到处寻找这这个世界上存在的特别的植物，因此，也得名“植物猎人”。
          abbr(title="www.imooc.com") www<br>
          abbr.initialism(title="I am hungry") www
        .col-md-3
          p.text-center 西畠清顺的匠心，全在花草树木上。为了看一株特别的花，他可以打个飞的横穿整个印度洋。为了空运一棵古树，他花费十多万美金也不心疼。他每天到处寻找这这个世界上存在的特别的植物，因此，也得名“植物猎人”。
        .col-md-6
            p.text-center 西畠清顺的匠心，全在花草树木上。为了看一株特别的花，他可以打个飞的横穿整个印度洋。为了空运一棵古树，他花费十多万美金也不心疼。他每天到处寻找这这个世界上存在的特别的植物，因此，也得名“植物猎人”。
